@media only screen and (min-width: 601px) {
  body {
    margin: 10px 15%;
    padding: 0;
  }
}

.heading {
  width: 70%;
  padding: 50px 0;
}

.social {
  width: 26.7%;
  text-align: right;
}

.social img {
  width: 36px;
  height: 36px;
  margin-left: 5px;
}

/* Grid system from: http://www.responsivegridsystem.com/ */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
  height: auto;
}
.col:first-child { margin-left: 0; }

.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

.span_3_of_3 {
  width: 100%;
}
.span_2_of_3 {
  width: 66.1%;
}

.span_1_of_3 {
  width: 31.7%;
  background: #eee;
}

.span_1_of_3 img {
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  .col { margin: 1% 0 1% 0%;}
  .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
